/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body * {
  font-family: "Courier New", Courier, monospace;
  color: #304659;
}

h1 {
  font-size: 2rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/******************************************
/* NAV
/*******************************************/
nav {
  background: #f5f9fc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.button {
  float: right;
  background: #304659;
  color: white;
  text-align: center;
  margin: 1% 1%;
  padding: 1% 1%;
}

/******************************************
/* MAIN
/*******************************************/

.col-2,
.container-features,
.bottom {
  display: flex;
  background: #f5f9fc;
  padding: 1% 5%;
}

.tagline span {
  text-transform: uppercase;
}

input#submit {
  background: navy;
  color: white;
  padding: 0 15px;
}

input#search {
  background: lightgray;
}

.container-features {
  padding: 5%;
}

.feature {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.feature img {
  padding-bottom: 4%;
}

.feature span {
  font-weight: 600;
  font-size: 1.2rem;
}

.feature a {
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
}

/******************************************
/* BOTTOM
/*******************************************/
.bottom {
  display: flex;
  flex-flow: row wrap;
  background: white;
}

.bottom section {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.col-50 h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

/******************************************
/* MOBILE
/*******************************************/

@media all and (max-width: 800px) {
  * {
    flex-direction: column;
    width: 100%;
  }
}
