/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Merriweather", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

/******************************************
/* NAV BAR
/*******************************************/
nav,
.main-nav-pages {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

.main-nav-logo,
.main-nav-action {
  margin: 16px 0;
}

/******************************************
/* MAIN FEATURE
/*******************************************/

.main-feature {
  background-color: azure;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
