/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 10px;
}
body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  font-size: 2rem;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media all and (max-width: 600px) {
  section {
    background: blue;
  }
}
